@charset "UTF-8";
* {
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
  font-family: 微軟正黑體;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background: -webkit-linear-gradient(#FFF,#CCEEFF);
  background: -o-linear-gradient(#FFF,#CCEEFF);
  background: -moz-linear-gradient(#FFF,#CCEEFF);
  background: linear-gradient(#FFF,#CCEEFF);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 1170px;
  margin: auto;
  font-size: 0px;
  background-image:url(../images/bg.png);
  background-repeat: no-repeat; 
}
.container .row {
  width:100%;
  min-height:750px;
}

.row .text {
    padding:0 15px;
    line-height:42px;  
}
.row .text h1 {
    font-size:72px; font-weight:bold;
    font-family:微軟正黑體; color: #cc3333;
    text-shadow: 0px 3px 0px #663333,
        0px 14px 10px rgba(0,0,0,0.15),
        0px 24px 2px rgba(0,0,0,0.1),
        0px 34px 30px rgba(0,0,0,0.1);
}
.row .text h6 {
    margin-top:30px;
    font-weight:bold;
    font-size:30px;
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff;
}

.row .contact {
    float: right;
    padding: 30px;
}

.btn.gray {
    font-weight: bold;
    margin: 0;
    background: linear-gradient(to bottom, #ffffff, #c9c9ca);
    border: 1px solid #afafaf;
}

/*--平板橫式--*/
@media screen and (max-width: 1024px){
    .container {
        width: 100%;
    }
}
/*--平板直式--*/
@media screen and (min-width: 737px) and (max-width: 768px){
    .row .contact {
        margin-top: 35%;
    }
}
/*--手機橫式--*/
@media screen and (min-width: 481px) and (max-width: 736px){
    .row .text h1 {
        font-size: 42px;
    }
    .row .text h6 {
        font-size: 18px;
        line-height: 30px;
    }
}
/*--手機直式--*/
@media screen and (max-width: 480px){
    .container {
        background-size: contain;
    }
    .row .text h1 {
        font-size: 42px;
    }
    .row .text h6 {
        font-size: 18px;
        line-height: 30px;
    }
    .row .contact {
        width: 100%;
        text-align: right;
    }
    .row .contact img {
        width: 75%;
    }
}