<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iPCE 1S</title>
    <link rel="shortcut icon" href="images/favicon.png">
	<link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/pc_icon_list.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/tab.css">
    <link rel="stylesheet" href="css/tablet.css">
    <link rel="stylesheet" href="css/mobile_version.css">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/logo-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]-->
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--[endif]-->

    <link rel="stylesheet" type="text/css" href="css/datedropper.css">
    
    
    
</head>
    
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top height" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <!-- 手機版搜尋與會員鈕 -->
<!--
                <div class="navbar-toggle icon dropdown" style="border:0; margin-right:5px;">
                  <a id="member_xs" class="hover" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="num-circle" style="top:-5px; left:-5px; z-index:999;">1</span><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i></a>
                  <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton">
                    <div class="main" style="text-align:center;margin-left:5px;margin-right:5px;">
                        <p><span>你好，</span>
                        <span ng-if="Cookie.UserInfo_Name != 'null' &amp;&amp; Cookie.UserInfo_Name != null" class="ng-binding ng-scope">
                        使用者名稱</span></p>
                        <div class="footer text-center">
                            <div style="margin-bottom:5px; display:inline-flex;">
                                <a href="member_%20footprints.html"><button id="Member_Manage" type="button" ng-click="Go('/Member/UserWebLog')" class="btn btn-primary">會員中心</button></a>&nbsp;
                                <button class="btn btn-primary btn-right" data-toggle="modal" data-target="#LOGOUT">登出</button>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
-->
                
                <div class="navbar-toggle icon" style="border:0; margin-right:5px;">
                    <a id="member_xs" href="#" data-toggle="modal" data-target="#LOGIN">
                        <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i></a></div>
                <div class="navbar-toggle icon" style="border:0; margin-right:0;">
                    <a href="#" data-toggle="collapse" data-target="#search_xs" style="color:#FFF">
                        <i class="fa fa-search fa-lg" aria-hidden="true"></i></a></div>
                <div style="z-index: 999;">
                    <a class="navbar-brand" href="index.html">
                        <img class="logo" src="images/nav_logo.png" alt="">
                    </a>
                    <form class="input-group"  id="search_box">
                      <input type="text" class="form-control" placeholder="經銷商搜尋">
                      <span class="input-group-btn">
                        <button class="btn btn-secondary btn-search" type="button">
                            <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                        </button>
                      </span>
                    </form>
                </div>
            </div><!-- 手機版搜尋與會員鈕(含下拉選單) end -->
            
            <!--手機版搜尋欄-->
            <form class="collapse navbar-collapse top_navbar" id="search_xs">
                <div class="form-group has-feedback search_box">
                  <div class="input-group" style="padding-top:15px">
                    <span class="input-group-btn">
                        <a href=""><button class="btn btn-secondary btn-search2" type="button" style="background-color:#ddd; color:#3B2212;">
                            <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                            </button></a>
                    </span>
                    <input type="text" class="form-control" placeholder="經銷商搜尋">
                  </div>
                </div>
            </form><!--手機版搜尋欄 end-->
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse top_navbar" id="bs-example-navbar-collapse-1">
                <ul class="nav nav_ul">
                    <li><a href="cpu_th-large%20.html"><img src="images/navbar_btn1.png">比較</a></li>
                    <li><a href="calculate.html"><img src="images/navbar_btn2.png">計較</a></li>
                    <li><a href="recycle.html"><img src="images/navbar_btn3.png">環保</a></li>
                    <li><a href="event-1.html"><img src="images/navbar_btn4.png">優惠</a></li>
<!--                    <li><a href="store_valuation_list.html"><img src="images/navbar_btn5.png">選購</a></li>-->
                </ul>
                <!-- 電腦版搜尋與會員鈕 -->
                <div id="member"><a href="#" data-toggle="modal" data-target="#LOGIN"></a></div>
                <div id="member" class="hover" style="display:none"><span class="num-circle">1</span>
                    <a href="#" onclick="myFunction()" class="dropbtn"></a></div>
                <!-- 電腦版搜尋與會員鈕 end -->
            </div>
            
            <!-- 電腦版會員下拉選單 -->
            <div id="myDropdown" class="dropdown-content">
                <div class="main" style="text-align:center;margin-left:5px;margin-right:5px;">
                    <p><span>你好，</span>
                    <span ng-if="Cookie.UserInfo_Name != 'null' &amp;&amp; Cookie.UserInfo_Name != null" class="ng-binding ng-scope">
                    使用者名稱</span></p>
                    <div class="footer text-center">
                        <div class="col-sm-6" style="margin-bottom:5px;">
                            <button id="Member_Manage" type="button" ng-click="Go('/Member/UserWebLog')" class="btn btn-primary">會員中心</button>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-primary btn-right" data-toggle="modal" data-target="#LOGOUT">登出</button>
                        </div>
                    </div><!--footer end -->
                </div>
              </div><!-- 電腦版會員下拉選單 end -->
            
            <!-- /.navbar-collapse -->
      
        </div>
        <!-- /.container -->
    </nav>
    
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="member_list">
                <div class="left_member">
                    <div class="mb_top"><img src="images/member01.png" alt="" width="100%"></div>
                    <div class="mb_middle">
                        <ul class="list-inline" style="margin: 10px 0;">
                            <li class="mb_img" style="padding:0;">
                                <a href="member_%20footprints.html"><img src="images/member02.png" alt="" width="100%"></a>
                            </li>
                            <li class="mb_img" style="padding:0;">
                                <span class="num-circle">1</span>
                                <a href="member_%20mail.html"><img src="images/member03.png" alt="" width="100%"></a>
                            </li>
                            <li class="mb_img" style="padding:0;">
                                <a href="member_%20UserQA.html"><img src="images/member04.png" alt="" width="100%"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="mb_bottom">
                        <div>
                            <a href="member_info.html"><img src="images/member05.jpg" alt="" width="100%"></a>
                        </div>
                        <img src="images/ad_xs.jpg" alt="" width="100%">
                    </div>
                </div>
                <div class="center_member" style="margin-bottom:30px;">
                    <div class="mb_content">
                        
                        <div class="mb_table record">
                            <ul class="nav nav-tabs info">
                              <li class="active"><a data-toggle="tab" href="#menu1">訂單</a></li>
                              <li><a data-toggle="tab" href="#menu2">訂單客服單</a></li>
                              <li><a data-toggle="tab" href="#">i唉叫單</a></li>
                              <li><a data-toggle="tab" href="#">i環保單</a></li>
                              <li><a data-toggle="tab" href="#">客服單</a></li>
                              <li><a data-toggle="tab" href="#">兌換單</a></li>
                            </ul>

                            <div class="tab-content">
                              <!-- 訂單紀錄列表 -->
                              <div id="menu1" class="tab-pane fade in active">
                                <br>
                                <form class="form-inline">

                                    <label class="" for="mobile"><span style="color:red;">*</span>手機號碼</label>
                                    <input type="mobile" class="form-control lg" id="mobile">

                                    <label class="" for="email"><span style="color:red;">*</span>信箱</label>
                                    <input type="email" class="form-control lg" id="email">
                                    
                                    <button type="button" class="btn btn-default size" style="margin-bottom:10px;">
                                        手機驗證</button>
                                </form>
                                    
                                <form class="form-inline">
                                    <label>訂單編號</label>
                                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="">
                                    
                                    <label>日期</label>
                                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="start_time2" placeholder="開始時間">-
                                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="end_time2" placeholder="結束時間">
                                    
                                    <label  class="mr-sm-2">狀態</label>
                                    <select class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                        <option selected></option>
                                        <option value="1">已完成</option>
                                        <option value="2">備貨中</option>
                                        <option value="3">已寄出</option>
                                        <option value="4">退貨中</option>
                                        <option value="5">已退款</option>
                                        <option value="6">等待付款</option>
                                    </select>
                                    
                                    <button type="button" class="btn btn-default size">
                                        <i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                                
                                <br>
                                <table class="table table-striped order member-list table-bordered table-rwd">
                                    <thead>
                                        <tr class="tr-only-hide">
                                            <th>編號</th>
                                            <th>訂購日期</th>
                                            <th>訂購金額</th>
                                            <th>狀態</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text" data-th="訂單編號"><a href="shopping_order_record.html">720170210000003</a></td>
                                            <td class="text" data-th="日期">2017/04/27</td>
                                            <td class="text" data-th="金額">$999,999</td>
                                            <td class="text" data-th="狀態">等待付款</td>
                                            <td class="btn_list" data-th="動作">
                                                <a href=""><button type="button" class="btn btn-download" data-toggle="modal" data-target="" style="padding:3px 12px; height:auto; color:#000;">付款</button></a>
                                                <button value="" type="button" class="btn btn-download" style="padding:3px 12px; height:auto; color:#000;" onclick="document.location.href='shopping_customer_service.html'">聯繫客服</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text" data-th="訂單編號">720170210000003</td>
                                            <td class="text" data-th="日期">2017/04/27</td>
                                            <td class="text" data-th="金額">$999,999</td>
                                            <td class="text" data-th="狀態">已完成</td>
                                            <td class="btn_list" data-th="動作">
                                                <a href="shopping_customer_service.html"><button value="" type="button" class="btn btn-download" style="padding:3px 12px; height:auto; color:#000;">聯繫客服</button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text" data-th="訂單編號">720170210000003</td>
                                            <td class="text" data-th="日期">2017/04/27</td>
                                            <td class="text" data-th="金額">$999,999</td>
                                            <td class="text" data-th="狀態">備貨中</td>
                                            <td class="btn_list" data-th="動作">
                                                <a href=""><button type="button" class="btn btn-download" data-toggle="modal" data-target="" style="padding:3px 12px; height:auto; color:#000;">退款</button></a>&nbsp;
                                                <a href="shopping_customer_service.html"><button value="" type="button" class="btn btn-download" style="padding:3px 12px; height:auto; color:#000;">聯繫客服</button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text" data-th="訂單編號">720170210000003</td>
                                            <td class="text" data-th="日期">2017/04/27</td>
                                            <td class="text" data-th="金額">$999,999</td>
                                            <td class="text" data-th="狀態">已寄出</td>
                                            <td class="btn_list" data-th="動作">
                                                <a href=""><button type="button" class="btn btn-download" data-toggle="modal" data-target="" style="padding:3px 12px; height:auto; color:#000;">退款</button></a>&nbsp;
                                                <a href=""><button type="button" class="btn btn-download" data-toggle="modal" data-target="" style="padding:3px 12px; height:auto; color:#000;">退貨</button></a>&nbsp;
                                                <a href="shopping_customer_service.html"><button value="" type="button" class="btn btn-download" style="padding:3px 12px; height:auto; color:#000;">聯繫客服</button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text" data-th="訂單編號">720170210000003</td>
                                            <td class="text" data-th="日期">2017/04/27</td>
                                            <td class="text" data-th="金額">$999,999</td>
                                            <td class="text" data-th="狀態">退貨中</td>
                                            <td class="btn_list" data-th="動作">
                                                <a href=""><button type="button" class="btn btn-download" data-toggle="modal" data-target="" style="padding:3px 12px; height:auto; color:#000;">退款</button></a>&nbsp;
                                                <a href="shopping_customer_service.html"><button value="" type="button" class="btn btn-download" style="padding:3px 12px; height:auto; color:#000;">聯繫客服</button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text" data-th="訂單編號">720170210000003</td>
                                            <td class="text" data-th="日期">2017/04/27</td>
                                            <td class="text" data-th="金額">$999,999</td>
                                            <td class="text" data-th="狀態">已退款</td>
                                            <td class="btn_list" data-th="動作">
                                                <a href="shopping_customer_service.html"><button value="" type="button" class="btn btn-download" style="padding:3px 12px; height:auto; color:#000;">聯繫客服</button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text" data-th="訂單編號">720170210000003</td>
                                            <td class="text" data-th="日期">2017/04/27</td>
                                            <td class="text" data-th="金額">$999,999</td>
                                            <td class="text" data-th="狀態">已完成</td>
                                            <td class="btn_list" data-th="動作">
                                                <a href="shopping_customer_service.html"><button value="" type="button" class="btn btn-download" style="padding:3px 12px; height:auto; color:#000;">聯繫客服</button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text" data-th="訂單編號">720170210000003</td>
                                            <td class="text" data-th="日期">2017/04/27</td>
                                            <td class="text" data-th="金額">$999,999</td>
                                            <td class="text" data-th="狀態">已完成</td>
                                            <td class="btn_list" data-th="動作">
                                                <a href="shopping_customer_service.html"><button value="" type="button" class="btn btn-download" style="padding:3px 12px; height:auto; color:#000;">聯繫客服</button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text" data-th="訂單編號">720170210000003</td>
                                            <td class="text" data-th="日期">2017/04/27</td>
                                            <td class="text" data-th="金額">$999,999</td>
                                            <td class="text" data-th="狀態">已完成</td>
                                            <td class="btn_list" data-th="動作">
                                                <a href="shopping_customer_service.html"><button value="" type="button" class="btn btn-download" style="padding:3px 12px; height:auto; color:#000;">聯繫客服</button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text" data-th="訂單編號">720170210000003</td>
                                            <td class="text" data-th="日期">2017/04/27</td>
                                            <td class="text" data-th="金額">$999,999</td>
                                            <td class="text" data-th="狀態">已完成</td>
                                            <td class="btn_list" data-th="動作">
                                                <a href="shopping_customer_service.html"><button value="" type="button" class="btn btn-download" style="padding:3px 12px; height:auto; color:#000;">聯繫客服</button></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="text-align:center;">
                                        <ul class="pagination" style="display:inline-block;">
                                          <li><a href="#">&laquo;</a></li>
                                          <li class="active"><a href="#">1</a></li>
                                          <li class="disabled"><a href="#">2</a></li>
                                          <li><a href="#">3</a></li>
                                          <li><a href="#">4</a></li>
                                          <li><a href="#">5</a></li>
                                          <li><a href="#">&raquo;</a></li>
                                        </ul>
                                </div>
                              </div>
                              <!-- 客服單紀錄列表 -->
                              <div id="menu2" class="tab-pane fade">
                                <br>
                                <form class="form-inline">
                                    <label>客服單編號&nbsp;</label>
                                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="" >
                                    &nbsp;&nbsp;&nbsp;<label>日期&nbsp;</label>
                                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="start_time" placeholder="開始時間" >&nbsp;-&nbsp;
                                    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="end_time" placeholder="結束時間" >
                                    &nbsp;&nbsp;&nbsp;<label>狀態&nbsp;</label>
                                    <select class="form-control" id="inlineFormCustomSelect">
                                        <option selected></option>
                                        <option value="1">已處理</option>
                                        <option value="2">處理中</option>
                                        <option value="3">等待處理</option>
                                    </select>
                                    <button type="button" class="btn btn-default size">
                                        <i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                                <br>
                                <table class="table table-striped order member-list table-bordered table-rwd">
                                    <thead>
                                        <tr class="tr-only-hide">
                                            <th>訂單客服單</th>
                                            <th>生成日期</th>
                                            <th>處理狀態</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text" data-th="訂單編號"><a href="shopping_customer_service2.html">720170210000003</a></td>
                                            <td class="text" data-th="日期">2017/04/27</td>
                                            <td class="text" data-th="狀態">等待處理</td>
                                            <td class="btn_list" data-th="動作">
                                                <a href=""><button type="button" class="btn btn-download" data-toggle="modal" data-target="" style="padding:3px 12px; height:auto; color:#000;">付款</button></a>&nbsp;
                                                <a href="shopping_customer_service.html"><button value="" type="button" class="btn btn-download" style="padding:3px 12px; height:auto; color:#000;">聯繫客服</button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text" data-th="訂單編號">720170210000003</td>
                                            <td class="text" data-th="日期">2017/04/27</td>
                                            <td class="text" data-th="狀態">已完成</td>
                                            <td class="btn_list" data-th="動作">
                                                <a href="shopping_customer_service.html"><button value="" type="button" class="btn btn-download" style="padding:3px 12px; height:auto; color:#000;">聯繫客服</button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text" data-th="訂單編號">720170210000003</td>
                                            <td class="text" data-th="日期">2017/04/27</td>
                                            <td class="text" data-th="狀態">處理中</td>
                                            <td class="btn_list" data-th="動作">
                                                <a href=""><button type="button" class="btn btn-download" data-toggle="modal" data-target="" style="padding:3px 12px; height:auto; color:#000;">退款</button></a>&nbsp;
                                                <a href="shopping_customer_service.html"><button value="" type="button" class="btn btn-download" style="padding:3px 12px; height:auto; color:#000;">聯繫客服</button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text" data-th="訂單編號">720170210000003</td>
                                            <td class="text" data-th="日期">2017/04/27</td>
                                            <td class="text" data-th="狀態">已處理</td>
                                            <td class="btn_list" data-th="動作">
                                                <a href=""><button type="button" class="btn btn-download" data-toggle="modal" data-target="" style="padding:3px 12px; height:auto; color:#000;">退款</button></a>&nbsp;
                                                <a href=""><button type="button" class="btn btn-download" data-toggle="modal" data-target="" style="padding:3px 12px; height:auto; color:#000;">退貨</button></a>&nbsp;
                                                <a href="shopping_customer_service.html"><button value="" type="button" class="btn btn-download" style="padding:3px 12px; height:auto; color:#000;">聯繫客服</button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text" data-th="訂單編號">720170210000003</td>
                                            <td class="text" data-th="日期">2017/04/27</td>
                                            <td class="text" data-th="狀態">處理中</td>
                                            <td class="btn_list" data-th="動作">
                                                <a href=""><button type="button" class="btn btn-download" data-toggle="modal" data-target="" style="padding:3px 12px; height:auto; color:#000;">退款</button></a>&nbsp;
                                                <a href="shopping_customer_service.html"><button value="" type="button" class="btn btn-download" style="padding:3px 12px; height:auto; color:#000;">聯繫客服</button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text" data-th="訂單編號">720170210000003</td>
                                            <td class="text" data-th="日期">2017/04/27</td>
                                            <td class="text" data-th="狀態">已處理</td>
                                            <td class="btn_list" data-th="動作">
                                                <a href="shopping_customer_service.html"><button value="" type="button" class="btn btn-download" style="padding:3px 12px; height:auto; color:#000;">聯繫客服</button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text" data-th="訂單編號">720170210000003</td>
                                            <td class="text" data-th="日期">2017/04/27</td>
                                            <td class="text" data-th="狀態">已處理</td>
                                            <td class="btn_list" data-th="動作">
                                                <a href="shopping_customer_service.html"><button value="" type="button" class="btn btn-download" style="padding:3px 12px; height:auto; color:#000;">聯繫客服</button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text" data-th="訂單編號">720170210000003</td>
                                            <td class="text" data-th="日期">2017/04/27</td>
                                            <td class="text" data-th="狀態">已處理</td>
                                            <td class="btn_list" data-th="動作">
                                                <a href="shopping_customer_service.html"><button value="" type="button" class="btn btn-download" style="padding:3px 12px; height:auto; color:#000;">聯繫客服</button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text" data-th="訂單編號">720170210000003</td>
                                            <td class="text" data-th="日期">2017/04/27</td>
                                            <td class="text" data-th="狀態">已處理</td>
                                            <td class="btn_list" data-th="動作">
                                                <a href="shopping_customer_service.html"><button value="" type="button" class="btn btn-download" style="padding:3px 12px; height:auto; color:#000;">聯繫客服</button></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text" data-th="訂單編號">720170210000003</td>
                                            <td class="text" data-th="日期">2017/04/27</td>
                                            <td class="text" data-th="狀態">已處理</td>
                                            <td class="btn_list" data-th="動作">
                                                <a href="shopping_customer_service.html"><button value="" type="button" class="btn btn-download" style="padding:3px 12px; height:auto; color:#000;">聯繫客服</button></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="text-align:center;">
                                    <ul class="pagination" style="display:inline-block;">
                                      <li><a href="#">&laquo;</a></li>
                                      <li class="active"><a href="#">1</a></li>
                                      <li class="disabled"><a href="#">2</a></li>
                                      <li><a href="#">3</a></li>
                                      <li><a href="#">4</a></li>
                                      <li><a href="#">5</a></li>
                                      <li><a href="#">&raquo;</a></li>
                                    </ul>
                                </div>
                              </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
        
    <footer class="container">
            <div class="row footer_menu">
                <div class="left">
                    <ul class="bottom-menu list-inline">
                        <li class="li1" style="padding:0 10px 0 0;">
                            &nbsp;操作說明</li>
                        <li  class="li2" >
                            <a href="#" data-toggle="modal" data-target="#CS00">經銷商搜尋</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#RP00">i比較</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#CP00">i計較</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#UO00">i優惠</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#FR00">i環保</a></li>
                    </ul>
                    <ul class="bottom-menu list-inline">
                        <li class="li1" style="padding:0 10px 0 0;">&nbsp;兌換中心</li>
                        <li class="li2"><a>兌換中心</a></li>
                    </ul>
                </div>
                <div class="right">
                    <ul class="bottom-menu list-inline">
                        <li class="li1" style="padding:0 10px 0 0;">
                            &nbsp;帳戶管理</li>
                        <li class="li2"><a>會員中心</a></li>
                        <li style="padding:0px;"><a>問與答</a></li>
                    </ul>
                    <ul class="bottom-menu list-inline">
                        <li class="li1" style="padding:0 10px 0 0;">
                            &nbsp;網站介紹</li>
                        <li class="li2"><a>何謂iPCE</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#HowiPCE">如何使用iPCE</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="copyright">
            <div class="left">
                Copyright © 2016 Saintmen iPCE All rights reserved. &nbsp; &nbsp;<a href="PrivacyPolicy.html">| 隱私權政策 |  </a>
                <a href="UseTerms.html">| 使用條款 |  </a>
            </div>
            <div class="right">
                <strong>客服專線：0800-000-234&nbsp;&nbsp;&nbsp;客服信箱: <a href="mailto:ipce@saintmen.com">iPCE@saintmen.com</a></strong>
            </div>
            </div>
    </footer>
    <br>
        
    </div>
    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/datedropper.min.js"></script>
    
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
        
        $("#start_time").dateDropper({
            animate: false,
            format: 'Y-m-d',
            maxYear: '2030'
        });
        $("#end_time").dateDropper({
            animate: false,
            format: 'Y-m-d',
            maxYear: '2030'
        });
        $("#start_time2").dateDropper({
            animate: false,
            format: 'Y-m-d',
            maxYear: '2030'
        });
        $("#end_time2").dateDropper({
            animate: false,
            format: 'Y-m-d',
            maxYear: '2030'
        });
    </script>
    
</body>
</html>