<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iPCE 1S</title>
    <link rel="shortcut icon" href="images/favicon.png">
	<link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/pc_icon_list.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/tab.css">
    <link rel="stylesheet" href="css/mobile_version.css">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/logo-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]-->
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--[endif]-->

</head>
    
<body style="background:linear-gradient(#FFF,#CCEEFF); background-repeat:no-repeat; background-attachment:fixed;">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top height" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <!-- 手機版搜尋與會員鈕 -->
                <div class="navbar-toggle icon dropdown" style="border:0; margin-right:5px;">
                  <a href="#" id="member_xs" class="hover" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="num-circle" style="top:-5px; left:-5px; z-index:999;">1</span><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i></a>
                  <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton">
                    <div class="main" style="text-align:center;margin-left:5px;margin-right:5px;">
                        <p><span>你好，</span>
                        <span ng-if="Cookie.UserInfo_Name != 'null' &amp;&amp; Cookie.UserInfo_Name != null" class="ng-binding ng-scope">
                        使用者名稱</span></p>
                        <div class="footer text-center">
                            <div style="margin-bottom:5px; display:inline-flex;">
                                <a href="member_%20footprints.html"><button id="Member_Manage" type="button" ng-click="Go('/Member/UserWebLog')" class="btn btn-primary">會員中心</button></a>&nbsp;
                                <button class="btn btn-primary btn-right" data-toggle="modal" data-target="#LOGOUT">登出</button>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                
<!--
                <div class="navbar-toggle icon" style="border:0; margin-right:5px;">
                    <a id="member_xs" href="#" data-toggle="modal" data-target="#LOGIN">
                        <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i></a></div>
-->
                <div class="navbar-toggle icon" style="border:0; margin-right:0;">
                    <a href="#" data-toggle="collapse" data-target="#search_xs" style="color:#FFF">
                        <i class="fa fa-search fa-lg" aria-hidden="true"></i></a></div>
                <div style="z-index: 999;">
                    <a class="navbar-brand" href="index.html">
                        <img class="logo" src="images/nav_logo.png" alt="">
                    </a>
                    <form class="input-group"  id="search_box">
                      <input type="text" class="form-control" placeholder="經銷商搜尋">
                      <span class="input-group-btn">
                        <button class="btn btn-secondary btn-search" type="button">
                            <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                        </button>
                      </span>
                    </form>
                </div>
            </div><!-- 手機版搜尋與會員鈕(含下拉選單) end -->
            
            <!--手機版搜尋欄-->
            <form class="collapse navbar-collapse top_navbar" id="search_xs">
                <div class="form-group has-feedback search_box">
                  <div class="input-group" style="padding-top:15px">
                    <span class="input-group-btn">
                        <a href=""><button class="btn btn-secondary btn-search2" type="button" style="background-color:#ddd; color:#3B2212;">
                            <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                            </button></a>
                    </span>
                    <input type="text" class="form-control" placeholder="經銷商搜尋">
                  </div>
                </div>
            </form><!--手機版搜尋欄 end-->
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse top_navbar" id="bs-example-navbar-collapse-1">
                <ul class="nav nav_ul">
                    <li><a href="cpu_th-large%20.html"><img src="images/navbar_btn1.png">比較</a></li>
                    <li><a href="calculate.html"><img src="images/navbar_btn2.png">計較</a></li>
                    <li><a href="recycle.html"><img src="images/navbar_btn3.png">環保</a></li>
                    <li><a href="event-1.html"><img src="images/navbar_btn4.png">優惠</a></li>
<!--                    <li><a href="store_valuation_list.html"><img src="images/navbar_btn5.png">選購</a></li>-->
                </ul>
                <!-- 電腦版搜尋與會員鈕 -->
                <div id="member" style="display:none"><a href="#" data-toggle="modal" data-target="#LOGIN"></a></div>
                <div id="member" class="hover"><span class="num-circle">1</span>
                    <a href="#" onclick="myFunction()" class="dropbtn"></a></div>
                <!-- 電腦版搜尋與會員鈕 end -->
            </div>
            
            <!-- 電腦版會員下拉選單 -->
            <div id="myDropdown" class="dropdown-content">
                <div class="main" style="text-align:center;margin-left:5px;margin-right:5px;">
                    <p><span>你好，</span>
                    <span ng-if="Cookie.UserInfo_Name != 'null' &amp;&amp; Cookie.UserInfo_Name != null" class="ng-binding ng-scope">
                    使用者名稱</span></p>
                    <div class="footer text-center">
                        <div class="col-sm-6" style="margin-bottom:5px;">
                            <button id="Member_Manage" type="button" ng-click="Go('/Member/UserWebLog')" class="btn btn-primary">會員中心</button>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-primary btn-right" data-toggle="modal" data-target="#LOGOUT">登出</button>
                        </div>
                    </div><!--footer end -->
                </div>
              </div><!-- 電腦版會員下拉選單 end -->
            
            <!-- /.navbar-collapse -->
      
        </div>
        <!-- /.container -->
    </nav>
    
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="valuation_list">
                <div class="purchase_list" style="padding-top:30px">
                    <h2 class="title_logo"><img src="images/login_logo.png">
                        &nbsp;隱私權聲明</h2>
                    <hr>
                    <div style="font-size:14px; line-height:26px;">
                        <div class="font-bold">關於個人資料保護，請參閱以下 iPCE 的隱私權聲明：</div>
                        iPCE是由「聖洺國際通路顧問股份有限公司」所經營；為了支持個人資料保護，維護個人隱私權，iPCE謹以下列聲明，向您說明iPCE蒐集個人資料之目的、類別、利用範圍及方式、以及您所得行使之權利等事項；<br>
                        如果您對於iPCE的隱私權聲明、以下相關告知事項、或與個人資料保護有關之相關事項有任何疑問，可以和iPCE服務中心聯絡，iPCE將儘快回覆說明。
                    </div>
                    <br>
                    <table>
                        <tr>
                            <td>
                                <div style="width:10px; height:36px; background:#d3441c;"></div>
                            </td>
                            <td class="title-box">
                                <div class="trapezoid2"></div>
                                <div class="title2">適用範圍</div>
                            </td>
                        </tr>
                    </table>
                    <div style="font-size:14px; line-height:26px;">
                        iPCE隱私權聲明及其所包含之告知事項，僅適用於iPCE所擁有及經營的網站。iPCE網站內可能包含許多連結、或其他合作夥伴所提供的服務，關於該等連結網站或合作夥伴網站的隱私權聲明及與個人資料保護有關之告知事項，請參閱各該連結網站或合作夥伴網站。
                    </div>
                    <br>
                    <table>
                        <tr>
                            <td>
                                <div style="width:10px; height:36px; background:#d3441c;"></div>
                            </td>
                            <td class="title-box">
                                <div class="trapezoid2"></div>
                                <div class="title2">個人資料蒐集之目的與類別</div>
                            </td>
                        </tr>
                    </table>
                    <div style="font-size:14px; line-height:26px;">
                        iPCE為了行銷、客戶管理與服務及其他電子商務服務、履行法定或合約義務、保護當事人及相關利害關係人之權益、財產保險、責任保險、售後服務、辦理贈獎活動（包含確認得獎者身份、提供贈品及依法開立扣繳憑單等）以及經營合於營業登記項目或組織章程所定之業務等目的，依照各該服務之性質，可能蒐集您的姓名、連絡方式、服務單位、職稱、為完成收款或付款所需之資料、IP位址、及其他得以直接或間接識別使用者身分之個人資料。
                        <br>
                        此外，為提升服務品質，iPCE會依照所提供服務之性質，記錄使用者的IP位址、以及在iPCE相關網站內的瀏覽活動(例如，使用者所使用的軟硬體、所點選的網頁)等資料，但是這些資料僅供作流量分析和網路行為調查，以便於改善iPCE相關網站的服務品質，這些資料也只是總量上的分析，不會和特定個人相連繫。
                    </div>
                    <br>
                    <table>
                        <tr>
                            <td>
                                <div style="width:10px; height:36px; background:#d3441c;"></div>
                            </td>
                            <td class="title-box">
                                <div class="trapezoid2"></div>
                                <div class="title2">個人資料的利用</div>
                            </td>
                        </tr>
                    </table>
                    <div style="font-size:14px; line-height:26px;">
                        iPCE所蒐集的足以識別使用者身分的個人資料，都僅供iPCE於其內部、依照蒐集之目的進行處理和利用，除非事先說明、或為完成提供服務或履行合約義務之必要、或因協助辦理保險事故出險而提供給保險人、或依照相關法令規定或有權主管機關之命令或要求，否則iPCE不會將足以識別使用者身分的個人資料提供給第三人（包括境內及境外）、或移作蒐集目的以外之使用。<br>
                        在合約有效期間內，以及法令所定應保存之期間內，iPCE會持續保管、處理及利用相關資料。
                    </div>
                    <br>
                    <table>
                        <tr>
                            <td>
                                <div style="width:10px; height:36px; background:#d3441c;"></div>
                            </td>
                            <td class="title-box">
                                <div class="trapezoid2"></div>
                                <div class="title2">資料安全</div>
                            </td>
                        </tr>
                    </table>
                    <div style="font-size:14px; line-height:26px;">
                        iPCE將以合於產業標準之合理技術及程序，維護個人資料之安全。
                    </div>
                    <br>
                    <table>
                        <tr>
                            <td>
                                <div style="width:10px; height:36px; background:#d3441c;"></div>
                            </td>
                            <td class="title-box">
                                <div class="trapezoid2"></div>
                                <div class="title2">資料當事人之權利</div>
                            </td>
                        </tr>
                    </table>
                    <div style="font-size:14px; line-height:26px;">
                        資料當事人可以請求查詢、閱覽本人的個人資料或要求給予複本，但iPCE得酌收必要成本和費用。若您的個人資料有變更、或發現您的個人資料不正確，可以向iPCE要求修改或更正。當蒐集個人資料之目的消失或期限屆滿時，您可要求刪除、停止處理或利用個人資料。但因iPCE執行職務或業務所必須者，不在此限。
                    </div>
                    <br>
                    <table>
                        <tr>
                            <td>
                                <div style="width:10px; height:36px; background:#d3441c;"></div>
                            </td>
                            <td class="title-box">
                                <div class="trapezoid2"></div>
                                <div class="title2">Cookie</div>
                            </td>
                        </tr>
                    </table>
                    <div style="font-size:14px; line-height:26px;">
                        為了便利使用者，iPCE網站可能使用cookie技術，以便於提供更適合使用者個人需要的服務；cookie是網站伺服器用來和使用者瀏覽器進行溝通的一種技術，它可能在使用者的電腦中儲存某些資訊，iPCE網站也會讀取儲存在使用者電腦中的cookie資料。使用者可以經由瀏覽器的設定，取消、或限制此項功能，但可能因此無法使用部份網站功能。若您想知道如何取消、或限制此項功能，請與iPCE服務中心聯絡。
                    </div>
                    <br>
                    <table>
                        <tr>
                            <td>
                                <div style="width:10px; height:36px; background:#d3441c;"></div>
                            </td>
                            <td class="title-box">
                                <div class="trapezoid2"></div>
                                <div class="title2">影響</div>
                            </td>
                        </tr>
                    </table>
                    <div style="font-size:14px; line-height:26px;">
                        依照各該服務之性質，為使相關服務得以順利提供、或使相關交易得以順利完成或履行完畢，若您不願意提供各該服務或交易所要求的相關個人資料予iPCE，並同意iPCE就該等個人資料依法令規定、以及本隱私權聲明及其相關告知內容為相關之個人資料蒐集、處理、利用及國際傳輸，iPCE將尊重您的決定，但依照各該服務之性質或條件，您可能因此無法使用該等服務或完成相關交易，iPCE並保留是否同意提供該等相關服務或完成相關交易之權利。
                    </div>
                    <br>
                    <table>
                        <tr>
                            <td>
                                <div style="width:10px; height:36px; background:#d3441c;"></div>
                            </td>
                            <td class="title-box">
                                <div class="trapezoid2"></div>
                                <div class="title2">修訂之權利</div>
                            </td>
                        </tr>
                    </table>
                    <div style="font-size:14px; line-height:26px;">
                        iPCE有權隨時修訂本隱私權聲明及相關告知事項，並得於修訂後公佈在iPCE網站上之適當位置，不另行個別通知，您可以隨時在iPCE網站上詳閱修訂後的隱私權聲明及相關告知事項。
                    </div>
                </div>
            </div>
        </div>
        
        
    <footer class="container">
            <hr>
            <div class="copyright">
            <div class="left">
                Copyright © 2016 Saintmen iPCE All rights reserved. &nbsp; &nbsp;<a href="PrivacyPolicy.html">| 隱私權政策 |  </a>
                <a href="UseTerms.html">| 使用條款 |  </a>
            </div>
            <div class="right">
                <strong>客服專線：0800-000-234&nbsp;&nbsp;&nbsp;客服信箱: <a href="mailto:ipce@saintmen.com">iPCE@saintmen.com</a></strong>
            </div>
            </div>
    </footer>
    <br>
        
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
                
</body>
</html>