<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iPCE 1S</title>
    <link rel="shortcut icon" href="images/favicon.png">
	<link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/pc_icon_list.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/tab.css">
    <link rel="stylesheet" href="css/mobile_version.css">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/logo-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]-->
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--[endif]-->

</head>
    
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top height" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <!-- 手機版搜尋與會員鈕 -->
<!--
                <div class="navbar-toggle icon dropdown" style="border:0; margin-right:5px;">
                  <a id="member_xs" class="hover" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="num-circle" style="top:-5px; left:-5px; z-index:999;">1</span><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i></a>
                  <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton">
                    <div class="main" style="text-align:center;margin-left:5px;margin-right:5px;">
                        <p><span>你好，</span>
                        <span ng-if="Cookie.UserInfo_Name != 'null' &amp;&amp; Cookie.UserInfo_Name != null" class="ng-binding ng-scope">
                        使用者名稱</span></p>
                        <div class="footer text-center">
                            <div style="margin-bottom:5px; display:inline-flex;">
                                <a href="member_%20footprints.html"><button id="Member_Manage" type="button" ng-click="Go('/Member/UserWebLog')" class="btn btn-primary">會員中心</button></a>&nbsp;
                                <button class="btn btn-primary btn-right" data-toggle="modal" data-target="#LOGOUT">登出</button>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
-->
                
                <div class="navbar-toggle icon" style="border:0; margin-right:5px;">
                    <a id="member_xs" href="#" data-toggle="modal" data-target="#LOGIN">
                        <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i></a></div>
                <div class="navbar-toggle icon" style="border:0; margin-right:0;">
                    <a href="#" data-toggle="collapse" data-target="#search_xs" style="color:#FFF">
                        <i class="fa fa-search fa-lg" aria-hidden="true"></i></a></div>
                <div style="z-index: 999;">
                    <a class="navbar-brand" href="index.html">
                        <img class="logo" src="images/nav_logo.png" alt="">
                    </a>
                    <form class="input-group"  id="search_box">
                      <input type="text" class="form-control" placeholder="經銷商搜尋">
                      <span class="input-group-btn">
                        <button class="btn btn-secondary btn-search" type="button">
                            <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                        </button>
                      </span>
                    </form>
                </div>
            </div><!-- 手機版搜尋與會員鈕(含下拉選單) end -->
            
            <!--手機版搜尋欄-->
            <form class="collapse navbar-collapse top_navbar" id="search_xs">
                <div class="form-group has-feedback search_box">
                  <div class="input-group" style="padding-top:15px">
                    <span class="input-group-btn">
                        <a href=""><button class="btn btn-secondary btn-search2" type="button" style="background-color:#ddd; color:#3B2212;">
                            <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                            </button></a>
                    </span>
                    <input type="text" class="form-control" placeholder="經銷商搜尋">
                  </div>
                </div>
            </form><!--手機版搜尋欄 end-->
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse top_navbar" id="bs-example-navbar-collapse-1">
                <ul class="nav nav_ul">
                    <li><a href="cpu_th-large%20.html"><img src="images/navbar_btn1.png">比較</a></li>
                    <li class="hover"><a href="calculate.html"><img src="images/navbar_btn2.png">計較</a></li>
                    <li><a href="recycle.html"><img src="images/navbar_btn3.png">環保</a></li>
                    <li><a href="event-1.html"><img src="images/navbar_btn4.png">優惠</a></li>
<!--                    <li><a href="store_valuation_list.html"><img src="images/navbar_btn5.png">選購</a></li>-->
                </ul>
                <!-- 電腦版搜尋與會員鈕 -->
                <div id="member"><a href="#" data-toggle="modal" data-target="#LOGIN"></a></div>
                <div id="member" class="hover" style="display:none"><span class="num-circle">1</span>
                    <a href="#" onclick="myFunction()" class="dropbtn"></a></div>
                <!-- 電腦版搜尋與會員鈕 end -->
            </div>
            
            <!-- 電腦版會員下拉選單 -->
            <div id="myDropdown" class="dropdown-content">
                <div class="main" style="text-align:center;margin-left:5px;margin-right:5px;">
                    <p><span>你好，</span>
                    <span ng-if="Cookie.UserInfo_Name != 'null' &amp;&amp; Cookie.UserInfo_Name != null" class="ng-binding ng-scope">
                    使用者名稱</span></p>
                    <div class="footer text-center">
                        <div class="col-sm-6" style="margin-bottom:5px;">
                            <button id="Member_Manage" type="button" ng-click="Go('/Member/UserWebLog')" class="btn btn-primary">會員中心</button>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-primary btn-right" data-toggle="modal" data-target="#LOGOUT">登出</button>
                        </div>
                    </div><!--footer end -->
                </div>
              </div><!-- 電腦版會員下拉選單 end -->
            
            <!-- /.navbar-collapse -->
      
        </div>
        <!-- /.container -->
    </nav>
    
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="valuation_list">
                <div class="purchase_list">
                    <h2 style="margin:0;">
                        <br><br>
                        <img src="images/login_logo.png" alt="">
                        <span style="color:#187fc3;font-size:14px;">iPCE-比產品 找便宜 選購電腦 我幫你</span>
                        <div class="btn-list">
                            <button class="btn btn-info blue3">
                                <i class="fa fa-undo" aria-hidden="true"></i>&nbsp;返回</button> 
                            <button type="button" class="btn btn-primary blue">
                                <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;清空估價單
                            </button>
                        </div>
                        <hr>
                    </h2>
                    <div class="ng-binding numbering">
                        估價單編號：720170215000026&nbsp;&nbsp;&nbsp;
                        日期：2017/2/16&nbsp;17:07
                        <span class="text_right">＊報價單商品皆為單品報價</span>
                    </div>
                                          
                    <div class="text-content">
                        <table class="table-result gray">
                            <thead>
                                <tr>
                                  <th style="width:10%;">
                                      <i class="fa fa-paperclip" aria-hidden="true" style="vertical-align:initial;"></i> 類別</th>
                                  <th style="width:40%;">
                                      <i class="fa fa-shopping-cart" aria-hidden="true" style="vertical-align:initial;"></i> 商品名稱</th>
                                  <th style="width:15%;">
                                      <i class="fa fa-usd" aria-hidden="true" style="vertical-align:initial;"></i> 單價(元)</th>
                                  <th style="width:20%;">
                                      <i class="fa fa-plus" aria-hidden="true" style="vertical-align:initial;"></i> 數量</th>
                                  <th style="width:15%;">
                                      <i class="fa fa-calculator" aria-hidden="true" style="vertical-align:initial;"></i> 小計(元)</th>
                                </tr>
                            </thead>
                        </table>

                        <table class="table-result store">
                            <thead>
                                <tr>
                                    <th colspan="4"><input type="checkbox" name=""> 經銷商店家名稱1</th>
                                    <th colspan="1" style="text-align:right;"><i class="fa fa-trash fa-lg" aria-hidden="true" data-toggle="modal" data-target="#ReminderBox" style="color:#FFF"></i>&nbsp; &nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="width:10%"><div class="border-right"><input type="checkbox" name="">
                                        印表機 <span style="color:#ed1b23; font-size:10pt; font-weight:bold; text-shadow: 0px 0px 10px yellow;">異動!</span></div></th>
                                    <th style="width:40%"><div class="border-right">
                                            <span data-toggle="tooltip" data-placement="bottom" title="" placement="auto left" 
                                            data-original-title="[惠普HP] LaserJet Pro CP1025nw (CE914A) 彩色雷射印表機 黑白600x600 dpi, 彩色600x600 dpi, 黑白16 ppm,彩色4 ppm, 1Y保固," class="gray-tooltip icon-arrow">[惠普HP] LaserJet Pro CP1025nw (CE914A) 彩色雷射印表機</span></div>
                                    </th>
                                    <td style="width:15%;"><div class="border-right">$99,999</div></td>
                                    <td style="width:20%;">
                                        <div class="border-right" style="text-align:-webkit-center;">
                                            <div class="alignment_lg"
                                                 style="overflow:hidden;width: 100px;height:35px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                            <div class="alignment_xs"
                                                 style="overflow:hidden;width: 55px;height:25px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                        </div>
                                    </td>
                                    <td style="width:15%;"><div class="border font-red-sm">$999,999
                                        <span style="color:#777"><i class="fa fa-trash fa-lg" aria-hidden="true" style="vertical-align:text-top;" data-toggle="modal" data-target="#ReminderBox"></i></span>&nbsp; &nbsp;</div></td>
                                </tr>
                                <tr>
                                    <th><div class="border-right"><input type="checkbox" name=""> 印表機</div></th>
                                    <th><div class="border-right">
                                            <span data-toggle="tooltip" data-placement="bottom" title="" placement="auto left" 
                                            data-original-title="[愛普生EPSON] WorkForce Pro WF-M5191 彩色噴墨印表機 1200x2400 dpi, 黑白34 ppm, 彩色34 ppm, 2Y保固," class="gray-tooltip icon-arrow">[愛普生EPSON] WorkForce Pro WF-M5191 彩色噴墨印表機</span></div>
                                    </th>
                                    <td><div class="border-right">$99,999</div></td>
                                    <td>
                                        <div class="border-right" style="text-align:-webkit-center;">
                                            <div class="alignment_lg"
                                                 style="overflow:hidden;width: 100px;height:35px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                            <div class="alignment_xs"
                                                 style="overflow:hidden;width: 55px;height:25px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                        </div>
                                    </td>
                                    <td style="width:15%;"><div class="border font-red-sm">$999,999
                                        <span style="color:#777"><i class="fa fa-trash fa-lg" aria-hidden="true" style="vertical-align:text-top;" data-toggle="modal" data-target="#ReminderBox"></i></span>&nbsp; &nbsp;</div></td>
                                </tr>
                                <tr>
                                    <th><div class="border-right"><input type="checkbox" name=""> CPU</div></th>
                                    <th><div class="border-right">
                                            <span data-toggle="tooltip" data-placement="bottom" title="" placement="auto left" 
                                            data-original-title="[超微AMD] Ryzen 7 1800x 8核, 3.6GHz, 16M快取," class="gray-tooltip icon-arrow">[超微AMD] Ryzen 7 1800x 8核</span>
                                        </div></th>
                                    <td>
                                        <div class="border-right">$999,999</div>
                                    </td>
                                    <td>
                                        <div class="border-right" style="text-align:-webkit-center;">
                                            <div class="alignment_lg"
                                                 style="overflow:hidden;width: 100px;height:35px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                            <div class="alignment_xs"
                                                 style="overflow:hidden;width: 55px;height:25px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                        </div>
                                    </td>
                                    <td style="width:15%;"><div class="border font-red-sm">$999,999
                                        <span style="color:#777"><i class="fa fa-trash fa-lg" aria-hidden="true" style="vertical-align:text-top;" data-toggle="modal" data-target="#ReminderBox"></i></span>&nbsp; &nbsp;</div></td>
                                </tr>
                                <tr>
                                    <th><div class="border-right"><input type="checkbox" name=""> 記憶體</div></th>
                                    <th><div class="border-right">
                                            <span data-toggle="tooltip" data-placement="bottom" title="" placement="auto left" 
                                            data-original-title="[威剛ADATA] DDR4 2400 16G 單通道, 終身保固," class="gray-tooltip icon-arrow">[威剛ADATA] DDR4 2400 16G 單通道, 終身保固,</span></div>
                                    </th>
                                    <td><div class="border-right">$9,999</div></td>
                                    <td>
                                      <div class="border-right" style="text-align:-webkit-center;">
                                            <div class="alignment_lg"
                                                 style="overflow:hidden;width: 100px;height:35px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                            <div class="alignment_xs"
                                                 style="overflow:hidden;width: 55px;height:25px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                        </div>
                                    </td>
                                    <td style="width:15%;"><div class="border font-red-sm">$999,999
                                        <span style="color:#777"><i class="fa fa-trash fa-lg" aria-hidden="true" style="vertical-align:text-top;" data-toggle="modal" data-target="#ReminderBox"></i></span>&nbsp; &nbsp;</div></td>
                                </tr>
                                <tr>
                                    <th><div class="border-right"><input type="checkbox" name=""> 顯示卡</div></th>
                                    <th><div class="border-right">
                                            <span data-toggle="tooltip" data-placement="bottom" title="" placement="auto left" 
                                            data-original-title="[華碩ASUS] GTX1080-8G NVIDIA, GTX1080, DDR5X, 8G, 3Y保固," class="gray-tooltip icon-arrow">[華碩ASUS] GTX1080-8G NVIDIA, GTX1080, DDR5X, 8G,</span></div>
                                    </th>
                                    <td><div class="border-right">$9,999</div></td>
                                    <td>
                                        <div class="border-right" style="text-align:-webkit-center;">
                                            <div class="alignment_lg"
                                                 style="overflow:hidden;width: 100px;height:35px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                            <div class="alignment_xs"
                                                 style="overflow:hidden;width: 55px;height:25px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                        </div>
                                    </td>
                                    <td style="width:15%;"><div class="border font-red-sm">$999,999
                                        <span style="color:#777"><i class="fa fa-trash fa-lg" aria-hidden="true" style="vertical-align:text-top;" data-toggle="modal" data-target="#ReminderBox"></i></span>&nbsp; &nbsp;</div></td>
                                </tr>
                                <tr>
                                    <th><div class="border-right"><input type="checkbox" name=""> 優惠專區</div></th>
                                    <th><div class="border-right">
                                            <span data-toggle="tooltip" data-placement="bottom" title="" placement="auto left" 
                                            data-original-title="維京戰魂機 I7 7700K GTX 1060 6G 榮耀戰魂 電競主機 [英特爾intel] Core i7 7700K,[華碩ASUS] ROG STRIX H270F GAMING,[美光Micron] DDR4 2400 16G(8Gx2),[威剛ADATA] Premier SP550 240G 2.5吋SATA3,[華碩ASUS] ROG STRIX-GTX1060-O6G-GAMING,[振華SuperFlower] LEADEX Gold 650W" class="gray-tooltip icon-arrow">維京戰魂機</span></div>
                                    </th>
                                    <td><div class="border-right">$999,999</div></td>
                                    <td>
                                        <div class="border-right" style="text-align:-webkit-center;">
                                            <div class="alignment_lg"
                                                 style="overflow:hidden;width: 100px;height:35px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                            <div class="alignment_xs"
                                                 style="overflow:hidden;width: 55px;height:25px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                        </div>
                                    </td>
                                    <td style="width:15%;"><div class="border font-red-sm">$999,999
                                        <span style="color:#777"><i class="fa fa-trash fa-lg" aria-hidden="true" style="vertical-align:text-top;" data-toggle="modal" data-target="#ReminderBox"></i></span>&nbsp; &nbsp;</div></td>
                                </tr>
                                <tr>
                                    <th><div class="border-right"><input type="checkbox" name=""> 門市商品</div></th>
                                    <th><div class="border-right">
                                            <span data-toggle="tooltip" data-placement="bottom" title="" placement="auto left" 
                                            data-original-title="羅技滑鼠MX900" class="gray-tooltip icon-arrow">羅技滑鼠MX900</span></div>
                                    </th>
                                    <td><div class="border-right">$999,999</div></td>
                                    <td>
                                        <div class="border-right" style="text-align:-webkit-center;">
                                            <div class="alignment_lg"
                                                 style="overflow:hidden;width: 100px;height:35px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                            <div class="alignment_xs"
                                                 style="overflow:hidden;width: 55px;height:25px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                        </div>
                                    </td>
                                    <td style="width:15%;"><div class="border font-red-sm">$999,999
                                        <span style="color:#777"><i class="fa fa-trash fa-lg" aria-hidden="true" style="vertical-align:text-top;" data-toggle="modal" data-target="#ReminderBox"></i></span>&nbsp; &nbsp;</div></td>
                                </tr>
                                <tr>
                                    <th><div class="border-right"><input type="checkbox" name=""> 門市商品</div></th>
                                    <th><div class="border-right form-inline">
                                        <input type="text" class="form-control" id="product" placeholder="請輸入商品名稱"></div>
                                    </th>
                                    <td><div class="border-right">
                                        <input type="text" class="form-control" id="price" placeholder="請輸入單價"></div></td>
                                    <td>
                                        <div class="border-right" style="text-align:-webkit-center;">
                                            <div class="alignment_lg"
                                                 style="overflow:hidden;width: 100px;height:35px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                            <div class="alignment_xs"
                                                 style="overflow:hidden;width: 55px;height:25px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                        </div>
                                    </td>
                                    <td style="width:15%;"><div class="border font-red-sm">$999,999
                                        <span style="color:#777"><i class="fa fa-trash fa-lg" aria-hidden="true" style="vertical-align:text-top;" data-toggle="modal" data-target="#ReminderBox"></i></span>&nbsp; &nbsp;</div></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="5" style="text-align:right; padding-right:5px;">店家小計：<span class="font-red-sm"> $999,999 </span></th>
                                </tr>
                            </tfoot>
                        </table>
                        <br>
                        <table class="table-result store">
                            <thead>
                                <tr>
                                    <th colspan="4"><input type="checkbox" name=""> 經銷商店家名稱2</th>
                                    <th colspan="1" style="text-align:right;"><i class="fa fa-trash fa-lg" aria-hidden="true" data-toggle="modal" data-target="#ReminderBox" style="color:#FFF"></i>&nbsp; &nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="width:10%"><div class="border-right">
                                        <input type="checkbox" name=""> LCD</div></th>
                                    <th style="width:40%"><div class="border-right">
                                            <span data-toggle="tooltip" data-placement="bottom" title="" placement="auto left" 
                                            data-original-title="[優派ViewSonic] XG3202-C 32吋 16:9, 1920x1080, 178°/178° , D-sub, DVI, HDMI, DisplayPort, 3Y保固," class="gray-tooltip icon-arrow">[優派ViewSonic] XG3202-C 32吋 16:9, 1920x1080,</span> </div>
                                    </th>
                                    <td style="width:15%;"><div class="border-right">$999,999</div></td>
                                    <td style="width:20%;">
                                        <div class="border-right" style="text-align:-webkit-center;">
                                            <div class="alignment_lg"
                                                 style="overflow:hidden;width: 100px;height:35px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                            <div class="alignment_xs"
                                                 style="overflow:hidden;width: 55px;height:25px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                        </div>
                                    </td>
                                    <td style="width:15%;"><div class="border font-red-sm">$999,999
                                        <span style="color:#777"><i class="fa fa-trash fa-lg" aria-hidden="true" style="vertical-align:text-top;" data-toggle="modal" data-target="#ReminderBox"></i></span>&nbsp; &nbsp;</div></td>
                                </tr>
                                <tr>
                                    <th><div class="border-right"><input type="checkbox" name=""> CPU</div></th>
                                    <th><div class="border-right">
                                            <span data-toggle="tooltip" data-placement="bottom" title="" placement="auto left" 
                                            data-original-title="[英特爾intel] Core i7 5820K 6核, 3.3GHz, 15M快取," class="gray-tooltip icon-arrow">[英特爾intel] Core i7 5820K 6核</span>
                                        </div></th>
                                    <td>
                                        <div class="border-right">$999,999</div>
                                    </td>
                                    <td>
                                        <div class="border-right" style="text-align:-webkit-center;">
                                            <div class="alignment_lg"
                                                 style="overflow:hidden;width: 100px;height:35px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                            <div class="alignment_xs"
                                                 style="overflow:hidden;width: 55px;height:25px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                        </div>
                                    </td>
                                    <td style="width:15%;"><div class="border font-red-sm">$999,999
                                        <span style="color:#777"><i class="fa fa-trash fa-lg" aria-hidden="true" style="vertical-align:text-top;" data-toggle="modal" data-target="#ReminderBox"></i></span>&nbsp; &nbsp;</div></td>
                                </tr>
                                <tr>
                                    <th><div class="border-right"><input type="checkbox" name=""> CPU</div></th>
                                    <th><div class="border-right">
                                            <span data-toggle="tooltip" data-placement="bottom" title="" placement="auto left" 
                                            data-original-title="[超微AMD] Ryzen 7 1800x 8核, 3.6GHz, 16M快取," class="gray-tooltip icon-arrow">[超微AMD] Ryzen 7 1800x 8核</span>
                                        </div></th>
                                    <td>
                                        <div class="border-right">$999,999</div>
                                    </td>
                                    <td>
                                        <div class="border-right" style="text-align:-webkit-center;">
                                            <div class="alignment_lg"
                                                 style="overflow:hidden;width: 100px;height:35px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                            <div class="alignment_xs"
                                                 style="overflow:hidden;width: 55px;height:25px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                        </div>
                                    </td>
                                    <td style="width:15%;"><div class="border font-red-sm">$999,999
                                        <span style="color:#777"><i class="fa fa-trash fa-lg" aria-hidden="true" style="vertical-align:text-top;" data-toggle="modal" data-target="#ReminderBox"></i></span>&nbsp; &nbsp;</div></td>
                                </tr>
                                <tr>
                                    <th><div class="border-right"><input type="checkbox" name=""> 優惠專區</div></th>
                                    <th><div class="border-right">
                                            <span data-toggle="tooltip" data-placement="bottom" title="" placement="auto left" 
                                            data-original-title="維京戰魂機 I7 7700K GTX 1060 6G 榮耀戰魂 電競主機 [英特爾intel] Core i7 7700K,[華碩ASUS] ROG STRIX H270F GAMING,[美光Micron] DDR4 2400 16G(8Gx2),[威剛ADATA] Premier SP550 240G 2.5吋SATA3,[華碩ASUS] ROG STRIX-GTX1060-O6G-GAMING,[振華SuperFlower] LEADEX Gold 650W" class="gray-tooltip icon-arrow">維京戰魂機</span></div>
                                    </th>
                                    <td><div class="border-right">$999,999</div></td>
                                    <td>
                                        <div class="border-right" style="text-align:-webkit-center;">
                                            <div class="alignment_lg"
                                                 style="overflow:hidden;width: 100px;height:35px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                            <div class="alignment_xs"
                                                 style="overflow:hidden;width: 55px;height:25px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                        </div>
                                    </td>
                                    <td style="width:15%;"><div class="border font-red-sm">$999,999
                                        <span style="color:#777"><i class="fa fa-trash fa-lg" aria-hidden="true" style="vertical-align:text-top;" data-toggle="modal" data-target="#ReminderBox"></i></span>&nbsp; &nbsp;</div></td>
                                </tr>
                                <tr>
                                    <th><div class="border-right"><input type="checkbox" name=""> 門市商品</div></th>
                                    <th><div class="border-right">
                                            <span data-toggle="tooltip" data-placement="bottom" title="" placement="auto left" 
                                            data-original-title="羅技滑鼠MX900" class="gray-tooltip icon-arrow">羅技滑鼠MX900</span></div>
                                    </th>
                                    <td><div class="border-right">$999,999</div></td>
                                    <td>
                                        <div class="border-right" style="text-align:-webkit-center;">
                                            <div class="alignment_lg"
                                                 style="overflow:hidden;width: 100px;height:35px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                            <div class="alignment_xs"
                                                 style="overflow:hidden;width: 55px;height:25px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                        </div>
                                    </td>
                                    <td style="width:15%;"><div class="border font-red-sm">$999,999
                                        <span style="color:#777"><i class="fa fa-trash fa-lg" aria-hidden="true" style="vertical-align:text-top;" data-toggle="modal" data-target="#ReminderBox"></i></span>&nbsp; &nbsp;</div></td>
                                </tr>
                                <tr>
                                    <th><div class="border-right"><input type="checkbox" name=""> 門市商品</div></th>
                                    <th><div class="border-right form-inline">
                                        <input type="text" class="form-control" id="product" placeholder="請輸入商品名稱"></div>
                                    </th>
                                    <td><div class="border-right">
                                        <input type="text" class="form-control" id="price" placeholder="請輸入單價"></div></td>
                                    <td>
                                        <div class="border-right" style="text-align:-webkit-center;">
                                            <div class="alignment_lg"
                                                 style="overflow:hidden;width: 100px;height:35px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                            <div class="alignment_xs"
                                                 style="overflow:hidden;width: 55px;height:25px;border: 1px solid #CCC;">
                                                <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-right: 1px solid #CCC;float:left;">-</div>
                                                <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                        </div>
                                    </td>
                                    <td style="width:15%;"><div class="border font-red-sm">$999,999
                                        <span style="color:#777"><i class="fa fa-trash fa-lg" aria-hidden="true" style="vertical-align:text-top;" data-toggle="modal" data-target="#ReminderBox"></i></span>&nbsp; &nbsp;</div></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="5" style="text-align:right; padding-right:5px;">店家小計：<span class="font-red-sm"> $999,999 </span></th>
                                </tr>
                            </tfoot>
                        </table>
                        
                        <table class="table-result gray right">
                            <thead>
                                <tr>
                                    <th class="th1">結帳件數
                                        <span class="font-red-sm"> 0 </span>件</th>
                                    <th class="th2">結帳金額：
                                        <span class="font-red-sm"> $999,999 </span></th>
                                    <th class="th3">總件數
                                        <span class="font-red-sm"> 0 </span>件</th>
                                    <th class="th4">總計：
                                        <span class="font-red-sm"> $999,999 </span></th>
                                </tr>
                            </thead>
                        </table>
                        
                        <table class="table-result">
                            <tfoot>
                                <tr>
                                    <td colspan="2">
                                        <span class="font-red-sm2">
                                            ＊表單價格計算為"商品"x"數量"<br>
                                            ＊購物車價格依照門市每日最新報價而異動，有異動價格商品會出現"異動!"文字提示
                                        </span>
                                    </td>
                                    <td align="right" colspan="3" class="calculate_share" style="line-height: 26px;">
                                        <a href="shopping_mall1.html"><button type="button" class="btn btn-warning btn-lg blue" style="background: linear-gradient(#f15a24,#fbb03b);">去結帳</button></a><br><br>
                                        <a href=""><img src="images/icon_share.png" style="height:15px"></a>
                                        <a href=""><img src="images/icon_fb2.png" style="height:25px"></a>
                                        <a href=""><img src="images/icon_line.png" style="height:25px"></a>
                                        <a href=""><img src="images/icon_wechat.png" style="height:25px"></a>
                                        <a href=""><img src="images/btn_download.png" style="height:20px"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <img src="images/ad1-0.jpg" style="max-width:1140px; width:100%; margin:30px 0 0;">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="remind">
                                        <p style="margin:10px 0;">商品價格會因更新時間差，與實際價格有所出入。若有任何問題，請洽客服專線。</p>
                                    </td>
                                </tr>
                            </tfoot>
                        
                        </table>    
                    </div>

                  </div>  
            </div>
        </div>
        
        
    <footer class="container">
            <div class="row footer_menu">
                <div class="left">
                    <ul class="bottom-menu list-inline">
                        <li class="li1" style="padding:0 10px 0 0;">
                            &nbsp;操作說明</li>
                        <li  class="li2" >
                            <a href="#" data-toggle="modal" data-target="#CS00">經銷商搜尋</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#RP00">i比較</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#CP00">i計較</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#UO00">i優惠</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#FR00">i環保</a></li>
                    </ul>
                    <ul class="bottom-menu list-inline">
                        <li class="li1" style="padding:0 10px 0 0;">&nbsp;兌換中心</li>
                        <li class="li2"><a>兌換中心</a></li>
                    </ul>
                </div>
                <div class="right">
                    <ul class="bottom-menu list-inline">
                        <li class="li1" style="padding:0 10px 0 0;">
                            &nbsp;帳戶管理</li>
                        <li class="li2"><a>會員中心</a></li>
                        <li style="padding:0px;"><a>問與答</a></li>
                    </ul>
                    <ul class="bottom-menu list-inline">
                        <li class="li1" style="padding:0 10px 0 0;">
                            &nbsp;網站介紹</li>
                        <li class="li2"><a>何謂iPCE</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#HowiPCE">如何使用iPCE</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="copyright">
            <div class="left">
                Copyright © 2016 Saintmen iPCE All rights reserved. &nbsp; &nbsp;<a href="PrivacyPolicy.html">| 隱私權政策 |  </a>
                <a href="UseTerms.html">| 使用條款 |  </a>
            </div>
            <div class="right">
                <strong>客服專線：0800-000-234&nbsp;&nbsp;&nbsp;客服信箱: <a href="mailto:ipce@saintmen.com">iPCE@saintmen.com</a></strong>
            </div>
            </div>
    </footer>
    <br>
    
     <!-- 是否刪除 modal -->   
    <div class="modal fade" id="ReminderBox">
      <div class="modal-dialog logout-xs" role="document">
        <div class="modal-content">
          <div class="modal-body">
              您確定要刪除嗎?
          </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-login">是</button>
                <button type="submit" class="btn btn-primary btn-login" data-dismiss="modal" aria-label="Close">否</button>
			</div>
        </div>
      </div>
    </div><!-- 是否刪除 modal end -->
    
    </div>
    

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(); 
        });
    </script>
                
</body>
</html>