<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iPCE 1S</title>
    <link rel="shortcut icon" href="images/favicon.png">
	<link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/pc_icon_list.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/tab.css">
    <link rel="stylesheet" href="css/mobile_version.css">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/logo-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]-->
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--[endif]-->

</head>
    
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top height" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <!-- 手機版搜尋與會員鈕 -->
<!--
                <div class="navbar-toggle icon dropdown" style="border:0; margin-right:5px;">
                  <a id="member_xs" class="hover" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="num-circle" style="top:-5px; left:-5px; z-index:999;">1</span><i class="fa fa-user-circle fa-lg" aria-hidden="true"></i></a>
                  <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton">
                    <div class="main" style="text-align:center;margin-left:5px;margin-right:5px;">
                        <p><span>你好，</span>
                        <span ng-if="Cookie.UserInfo_Name != 'null' &amp;&amp; Cookie.UserInfo_Name != null" class="ng-binding ng-scope">
                        使用者名稱</span></p>
                        <div class="footer text-center">
                            <div style="margin-bottom:5px; display:inline-flex;">
                                <a href="member_%20footprints.html"><button id="Member_Manage" type="button" ng-click="Go('/Member/UserWebLog')" class="btn btn-primary">會員中心</button></a>&nbsp;
                                <button class="btn btn-primary btn-right" data-toggle="modal" data-target="#LOGOUT">登出</button>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
-->
                
                <div class="navbar-toggle icon" style="border:0; margin-right:5px;">
                    <a id="member_xs" href="#" data-toggle="modal" data-target="#LOGIN">
                        <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i></a></div>
                <div class="navbar-toggle icon" style="border:0; margin-right:0;">
                    <a href="#" data-toggle="collapse" data-target="#search_xs" style="color:#FFF">
                        <i class="fa fa-search fa-lg" aria-hidden="true"></i></a></div>
                <div style="z-index: 999;">
                    <a class="navbar-brand" href="index.html">
                        <img class="logo" src="images/nav_logo.png" alt="">
                    </a>
                    <form class="input-group"  id="search_box">
                      <input type="text" class="form-control" placeholder="經銷商搜尋">
                      <span class="input-group-btn">
                        <button class="btn btn-secondary btn-search" type="button">
                            <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                        </button>
                      </span>
                    </form>
                </div>
            </div><!-- 手機版搜尋與會員鈕(含下拉選單) end -->
            
            <!--手機版搜尋欄-->
            <form class="collapse navbar-collapse top_navbar" id="search_xs">
                <div class="form-group has-feedback search_box">
                  <div class="input-group" style="padding-top:15px">
                    <span class="input-group-btn">
                        <a href=""><button class="btn btn-secondary btn-search2" type="button" style="background-color:#ddd; color:#3B2212;">
                            <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                            </button></a>
                    </span>
                    <input type="text" class="form-control" placeholder="經銷商搜尋">
                  </div>
                </div>
            </form><!--手機版搜尋欄 end-->
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse top_navbar" id="bs-example-navbar-collapse-1">
                <ul class="nav nav_ul">
                    <li><a href="cpu_th-large%20.html"><img src="images/navbar_btn1.png">比較</a></li>
                    <li class="hover"><a href="calculate.html"><img src="images/navbar_btn2.png">計較</a></li>
                    <li><a href="recycle.html"><img src="images/navbar_btn3.png">環保</a></li>
                    <li><a href="event-1.html"><img src="images/navbar_btn4.png">優惠</a></li>
<!--                    <li><a href="store_valuation_list.html"><img src="images/navbar_btn5.png">選購</a></li>-->
                </ul>
                <!-- 電腦版搜尋與會員鈕 -->
                <div id="member"><a href="#" data-toggle="modal" data-target="#LOGIN"></a></div>
                <div id="member" class="hover" style="display:none"><span class="num-circle">1</span>
                    <a href="#" onclick="myFunction()" class="dropbtn"></a></div>
                <!-- 電腦版搜尋與會員鈕 end -->
            </div>
            
            <!-- 電腦版會員下拉選單 -->
            <div id="myDropdown" class="dropdown-content">
                <div class="main" style="text-align:center;margin-left:5px;margin-right:5px;">
                    <p><span>你好，</span>
                    <span ng-if="Cookie.UserInfo_Name != 'null' &amp;&amp; Cookie.UserInfo_Name != null" class="ng-binding ng-scope">
                    使用者名稱</span></p>
                    <div class="footer text-center">
                        <div class="col-sm-6" style="margin-bottom:5px;">
                            <button id="Member_Manage" type="button" ng-click="Go('/Member/UserWebLog')" class="btn btn-primary">會員中心</button>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-primary btn-right" data-toggle="modal" data-target="#LOGOUT">登出</button>
                        </div>
                    </div><!--footer end -->
                </div>
              </div><!-- 電腦版會員下拉選單 end -->
            
            <!-- /.navbar-collapse -->
      
        </div>
        <!-- /.container -->
    </nav>
    
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="valuation_list">
                <div class="purchase_list">
                    <h2 style="margin:0;">
                        <br><br>
                        <img src="images/login_logo.png" alt="">
                        <span style="color:#187fc3;font-size:14px;">iPCE-比產品 找便宜 選購電腦 我幫你</span>
                        <div class="btn-list">
                            <button class="btn btn-info blue3">
                                <i class="fa fa-undo" aria-hidden="true"></i>&nbsp;返回</button> 
                            <button type="button" class="btn btn-primary blue">
                                <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;清空估價單
                            </button>
                        </div>
                        <hr>
                    </h2>
                    <div class="ng-binding numbering">
                        訂單編號：720170215000026&nbsp;&nbsp;&nbsp;
                        表單產生日期：2017/2/16&nbsp;17:07
                        <span class="text_right">＊報價單商品皆為單品報價</span>
                    </div>
                                          
                    <div class="text-content">
                        <table class="table-result">
                            <thead>
                                <tr>
                                    <th width="15%">類別</th>
                                    <th width="25%">商品</th>
                                    <th width="10%">數量</th>
                                    <th width="10%">自選價</th>
                                    <th width="20%">最便宜門市</th>
                                    <th width="20%">
                                        <select name="" id="">
                                            <option value="">線上</option>
                                            <option value="">北區</option>
                                            <option value="">桃竹區</option>
                                            <option value="">中區</option>
                                            <option value="">南區</option>
                                        </select>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th><div class="border-right title"><a href="">cpu</a></div></th>
                                    <td>
                                        <div class="border-right">
                                            <a href=""><span data-toggle="tooltip" data-placement="bottom" title="Intel® Core™ i3-4160 Processor(3M Cache, 3.60 GHz)" class="gray-tooltip icon-arrow">i3-3200 SR&RG 3.30GHZ</span></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="border-right">
                                            <ul class="list-inline input">
                                                <li>
                                                    <div class="alignment_lg"
                                                         style="overflow:hidden;width: 100px;height:35px;border: 1px solid #CCC; right: 30px;">
                                                        <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-right: 1px solid #CCC;float:left;">-</div>
                                                        <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                                    <div class="alignment_xs"
                                                         style="overflow:hidden;width: 55px;height:25px;border: 1px solid #CCC;">
                                                        <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-right: 1px solid #CCC;float:left;">-</div>
                                                        <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width:15px;height:25px;line-height:25px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td><div class="border-right">$999,999</div></td>
                                    <td><div class="border-right">$999,999</div></td>
                                    <td><div class="border right_noline">$999,999</div></td>
                                </tr>
                                <tr>
                                    <th><div class="border-right title"><a href="">主機板</a></div></th>
                                    <td>
                                        <div class="border-right">
                                            <a href=""><span data-toggle="tooltip" data-placement="bottom" title="Intel® Core™ i3-4160 Processor(3M Cache, 3.60 GHz)" class="gray-tooltip icon-arrow">i3-3200 SR&RG 3.30GHZ</span></a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="border-right">
                                            <ul class="list-inline input">
                                                <li>
                                                    <div class="alignment_lg"
                                                         style="overflow:hidden;width: 100px;height:35px;border: 1px solid #CCC; right: 30px;">
                                                        <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-right: 1px solid #CCC;float:left;">-</div>
                                                        <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 30px;height:35px;line-height:35px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                                    <div class="alignment_xs"
                                                         style="overflow:hidden;width: 55px;height:25px;border: 1px solid #CCC;">
                                                        <div id="3l" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 15px;height:25px;line-height:25px;border-right: 1px solid #CCC;float:left;">-</div>
                                                        <div id="3r" onselectstart="return false;" style="-moz-user-select:none;cursor:pointer;text-align:center;width: 15px;height:25px;line-height:25px;border-left: 1px solid #CCC;float:right;"> + </div></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td><div class="border-right">$999,999</div></td>
                                    <td><div class="border-right">$999,999</div></td>
                                    <td><div class="border right_noline">$999,999</div></td>
                                </tr>
                                <tr>
                                    <th><div class="border-right title"><a href="">記憶體</a></div></th>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border"></div></td>
                                </tr>
                                <tr>
                                    <th><div class="border-right title"><a href="">顯示卡</a></div></th>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border"></div></td>
                                </tr>
                                <tr>
                                    <th><div class="border-right title"><a href="">電源供應器</a></div></th>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border"></div></td>
                                </tr>
                                <tr>
                                    <th><div class="border-right title"><a href="">固態硬碟</a></div></th>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border"></div></td>
                                </tr>
                                <tr>
                                    <th><div class="border-right title"><a href="">硬碟</a></div></th>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border"></div></td>
                                </tr>
                                <tr>
                                    <th colspan="2"><div class="border-right">iPCE智慧找尋門市</div></th>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border-right">小計</div></td>
                                    <td>
                                        <div class="border-right clearfix" style="text-align:left">
                                            凌傑資訊凌傑資訊凌傑資訊<br>
                                            <span class="like">
                                            <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i> 999999</span>
                                            <span class="font-sm float-r"><a ng-href="" data-toggle="modal" data-target="#change_storelist" class="btn-more">看更多</a></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="border-right clearfix" style="text-align:left">
                                            凌傑資訊凌傑資訊凌傑資訊<br>
                                            <span class="like">
                                            <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i> 999999
                                            </span>
                                            <span class="font-sm float-r">
                                                <a ng-href="" data-toggle="modal" data-target="#change_storelist" class="btn-more">
                                                    看更多
                                                </a>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2"><div class="border-right">iPCE智慧計算結果</div></th>
                                    <td><div class="border-right"></div></td>
                                    <td><div class="border-right font-red-sm">$119,900</div></td>
                                    <td><div class="border-right font-red-sm">$119,900</div></td>
                                    <td><div class="border right_noline font-red-sm">$119,900</div></td>
                                </tr>
                        </tbody>
                        
                            <tfoot>
                                <tr>
                                    <td colspan="3">
                                        <span class="font-red-sm2">
                                            ＊表單價格計算為"商品"x"數量"<br>
                                            ＊欲參加iPCE開學季活動, 兌換「7-11超商禮券100元」。<br>
                                            iPCE估價單務必按「下載」，並持iPCE估價單至全省經銷商購買3C商品。<br>
                                            未完成iPCE估價單「下載」者，皆視同未完成申請兌換程序。<br>
                                        </span>
                                    </td>
                                    <td align="right" colspan="3" class="calculate_share" style="line-height: 26px;">
                                        <a href=""><img src="images/icon_share.png" style="height:15px"></a>
                                        <a href=""><img src="images/icon_fb2.png" style="height:25px"></a>
                                        <a href=""><img src="images/icon_line.png" style="height:25px"></a>
                                        <a href=""><img src="images/icon_wechat.png" style="height:25px"></a>
                                        <a href=""><img src="images/btn_download.png" style="height:20px"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <img src="images/ad1-0.jpg" style="max-width:1140px; width:100%; margin:30px 0 0;">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="remind">
                                        <p style="margin:10px 0;">商品價格會因更新時間差，與實際價格有所出入。若有任何問題，請洽客服專線。</p>
                                    </td>
                                </tr>
                            </tfoot>
                        
                        </table>    
                    </div>

                  </div>  
            </div>
        </div>
        
        
    <footer class="container">
            <div class="row footer_menu">
                <div class="left">
                    <ul class="bottom-menu list-inline">
                        <li class="li1" style="padding:0 10px 0 0;">
                            &nbsp;操作說明</li>
                        <li  class="li2" >
                            <a href="#" data-toggle="modal" data-target="#CS00">經銷商搜尋</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#RP00">i比較</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#CP00">i計較</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#UO00">i優惠</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#FR00">i環保</a></li>
                    </ul>
                    <ul class="bottom-menu list-inline">
                        <li class="li1" style="padding:0 10px 0 0;">&nbsp;兌換中心</li>
                        <li class="li2"><a>兌換中心</a></li>
                    </ul>
                </div>
                <div class="right">
                    <ul class="bottom-menu list-inline">
                        <li class="li1" style="padding:0 10px 0 0;">
                            &nbsp;帳戶管理</li>
                        <li class="li2"><a>會員中心</a></li>
                        <li style="padding:0px;"><a>問與答</a></li>
                    </ul>
                    <ul class="bottom-menu list-inline">
                        <li class="li1" style="padding:0 10px 0 0;">
                            &nbsp;網站介紹</li>
                        <li class="li2"><a>何謂iPCE</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#HowiPCE">如何使用iPCE</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="copyright">
            <div class="left">
                Copyright © 2016 Saintmen iPCE All rights reserved. &nbsp; &nbsp;<a href="PrivacyPolicy.html">| 隱私權政策 |  </a>
                <a href="UseTerms.html">| 使用條款 |  </a>
            </div>
            <div class="right">
                <strong>客服專線：0800-000-234&nbsp;&nbsp;&nbsp;客服信箱: <a href="mailto:ipce@saintmen.com">iPCE@saintmen.com</a></strong>
            </div>
            </div>
    </footer>
    <br>
        
    </div>
    
    <!-- 替換門市 modal fade -->
    <div class="modal fade" id="change_storelist">
      <div class="modal-dialog login-xs" role="document">
        <div class="modal-content">
          <div class="modal-header" style="padding:5px 10px 0 0; border:0;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="more_tablelist">
                        <thead>
                            <tr>
                                <th>區域</th>
                                <th>門市</th>
                                <th>價錢</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>北區</td>
                                <td><div class="border-right">德總<span class="like">
                                    <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>22</span></div></td>
                                <td>$300,555</td>
                                <td><a href=""><i class="fa fa-reply" aria-hidden="true"></i></a></td>
                                
                            </tr>
                            <tr>
                                <td>北區</td>
                                <td><div class="border-right">霸道電腦<span class="like">
                                    <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>22</span></div></td>
                                <td>$300,555</td>
                                <td><a href=""><i class="fa fa-reply" aria-hidden="true"></i></a></td>

                            </tr>
                            <tr>
                                <td>北區</td>
                                <td><div class="border-right">孟庭資訊(A12、A18、A9、A5室)<span class="like">
                                    <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>22</span></div></td>
                                <td>$300,555</td>
                                <td><a href=""><i class="fa fa-reply" aria-hidden="true"></i></a></td>

                            </tr>
                            <tr>
                                <td>北區</td>
                                <td><div class="border-right">德總<span class="like">
                                    <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>22</span></div></td>
                                <td>$300,555</td>
                                <td><a href=""><i class="fa fa-reply" aria-hidden="true"></i></a></td>

                            </tr>
                            <tr>
                                <td>北區</td>
                                <td><div class="border-right">霸道電腦<span class="like">
                                    <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>22</span></div></td>
                                <td>$300,555</td>
                                <td><a href=""><i class="fa fa-reply" aria-hidden="true"></i></a></td>

                            </tr>
                            <tr>
                                <td>北區</td>
                                <td><div class="border-right">孟庭資訊(A12、A18、A9、A5室)<span class="like">
                                    <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>22</span></div></td>
                                <td>$300,555</td>
                                <td><a href=""><i class="fa fa-reply" aria-hidden="true"></i></a></td>

                            </tr>
                        </tbody>
                    </table>
          </div>
        </div>
      </div>
    </div><!-- 替換門市 modal fade end -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(); 
        });
    </script>
                
</body>
</html>